.container {
    margin: 32px;
    padding: 20px;
}

.button1 {
    background-color: wheat;
    border-color: cornflowerblue;
    margin-top: 12px;
    max-width: 65px;
    color: darkslategray;
}
.button2 {
    background-color: salmon;
    border-color: cornflowerblue;
    margin-top: 12px;
    max-width: 65px;
    color: darkslategray;
}
.button3 {
    background-color: mediumaquamarine;
    border-color: cornflowerblue;
    margin-top: 12px;
    max-width: 65px;
    color: darkslategray;
    
}

